/* COLORS FOR CATEGORIES */

.category_item.orange {
    border-color: #ffc187;
}
.category_item.orange .category_header,
.category_item.orange .good_element.bought,
.good_element.edit.orange.bought {
    background-color: #ffc187;
}
.category_item.orange .good_element,
.manage_lists__item.orange,
.good_element.edit.orange,
.colored_square.orange {
    background-color: #ff7b00;
}

.category_item.green {
    border-color: #91ff87;
}
.category_item.green .category_header,
.category_item.green .good_element.bought,
.good_element.edit.green.bought {
    background-color: #91ff87;
}
.category_item.green .good_element,
.manage_lists__item.green,
.good_element.edit.green,
.colored_square.green {
    background-color: #15c505;
}

.category_item.blue .good_element,
.manage_lists__item.blue,
.good_element.edit.blue,
.colored_square.blue {
    background-color: #4f6c97;
}
.category_item.blue .category_header,
.category_item.blue .good_element.bought,
.good_element.edit.blue.bought {
    background-color: #7db1ff;
}

.category_item.purple .good_element,
.manage_lists__item.purple,
.good_element.edit.purple,
.colored_square.purple {
    background-color: #800080;
}
.category_item.purple .category_header,
.category_item.purple .good_element.bought,
.good_element.edit.purple.bought {
    background-color: #be8dbe;
}
.category_item.purple {
    border-color: #be8dbe;
}

.category_item.red .good_element,
.manage_lists__item.red,
.good_element.edit.red,
.colored_square.red {
    background-color: #eb0000;
}
.category_item.red .category_header,
.category_item.red .good_element.bought,
.good_element.edit.red.bought {
    background-color: #f05e5e;
}
.category_item.red {
    border-color: #f05e5e;
}

.category_item.yellow .good_element,
.manage_lists__item.yellow,
.good_element.edit.yellow,
.colored_square.yellow {
    background-color: #e7d000;
    color: #000;
}
.category_item.yellow .category_header {
    background-color: #ffee55;
    color: #000;
}
.category_item.yellow .good_element.bought,
.good_element.edit.yellow.bought {
    background-color: #ffee55;
    color: #7e7e7e;
}
.category_item.yellow {
    border-color: #ffee55;
}

/* ADD GOODS BUTTONS COLORS */
.add_goods_button.orange {
    background-color: #ff7b00;
}
.add_goods_button.green {
    background-color: #15c505;
}
.add_goods_button.blue {
    background-color: #4f6c97;
}
.add_goods_button.purple {
    background-color: #800080;
}
.add_goods_button.red {
    background-color: #eb0000;
}
.add_goods_button.yellow {
    background-color: #e7d000;
    color: #000;
}
