body.dark {
    background-color: #000;
}

body, body * {
    transition: background-color 0.1s linear, color 0.1s linear;
}

body.dark .shopping_list_container {
    background-color: #292929;
    background: linear-gradient(to bottom, #5f5f5f, #111111);
}

body.dark .category_header {
    background-color: #5b7fb4;
    color: #000000;
}

body.dark .category_items {
    background-color: #0000001f;
}

body.dark .category_item {
    box-shadow: 0px 4px 5px 2px #00000073;
}

body.dark .add_goods_btn {
    box-shadow: 0px 4px 5px 1px #0c0c0c;
}

body.dark .options_list {
    background-color: #646464;
    border-color: #3b3b3b;
}

body.dark .options_list__item {
    color: #fff;
}

body.dark .options_list__item:hover {
    background-color: #8d8d8d;
}

body.dark .add_new_items {
    background-color: #181818;
}

body.dark .confirm_delete_popup__message {
    color: #fff;
}


/* COLORS FOR CATEGORIES */

body.dark .category_item.orange {
    border-color: #d36600;
}
body.dark .category_item.orange .category_header {
    background-color: #d36600;
    color: #fff;
}

/* ADD GOOD MENU */
body.dark .modal_popup {
    background-color: #3f3f3f;
}

body.dark .add_goods_popup_header {
    color: #c9c9c9;
}

body.dark #new_goods_textarea {
    background-color: #696969;
    color: #ffffff;
}
body.dark #new_goods_textarea::placeholder {
    color: #b9b9b9;
}

body.dark .add_goods__cancel_btn {
    color: #c9c9c9;
    border-color: #c9c9c9;
}
body.dark .add_goods__cancel_btn:hover {
    background-color: #535353;
}

/* MANAGE LISTS */

body.dark .list_options_popup__header,
body.dark .manage_lists_popup__header__left {
    color: #eeeeee;
}

body.dark .manage_lists__item__center {
    border-left-color: #3f3f3f;
    border-right-color: #3f3f3f;
}
