@media (max-width: 500px) {
    html {
        font-size: 18px;
    }
    

    .shopping_list_container {
        margin-top: 0px;
        padding: 0px;
        height: 100vh;
        border-radius: 0px;
        position: relative;
        border: none;
    }

    .header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 400;
        padding: 12px 15px;

        background-color: #57626e;
        box-shadow: 0px 3px 5px 2px #32373d81;
    }    
    body.dark .header {
        background-color: #313b46;
    }

    .header_logo {
        color: #fff;
    }

    .header_menu__button {
        border: 2px #d5dbe4 solid;
        color: #d5dbe4;
    }

    @keyframes Spinner {
        0% {
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
             border-left-color: transparent;
        }
        25% {
            border-top-color: #c7c7c7;
            border-right-color: transparent;
            border-bottom-color: transparent;
             border-left-color: transparent;
        }
        50% {
            border-top-color: #c7c7c7;
            border-right-color: #c7c7c7;
            border-bottom-color: transparent;
             border-left-color: transparent;
        }
        75% {
            border-top-color: #c7c7c7;
            border-right-color: #c7c7c7;
            border-bottom-color: #c7c7c7;
             border-left-color: transparent;
        }
        100% {
            border-top-color: #c7c7c7;
            border-right-color: #c7c7c7;
            border-bottom-color: #c7c7c7;
             border-left-color: #c7c7c7;
        }
    }

    .options_list.header_options_menu {
        top: 12px;
        right: 10px;
        z-index: 500;
    }

    .main {
        padding: 40px 5px;
        height: 100%;
    }

    .header_logo h1 {
        font-size: 28px;
    }

    .categories {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .category_header_name {
        font-size: 18px;
    }

    .good_element:hover {
        opacity: unset;
    }

    .add_new_items {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;

        background: #d8dae2c0;
        backdrop-filter: blur(2px);
        box-shadow: 0px -2px 5px 1px #32373d17;
    }

    body.dark .add_new_items {
        background: linear-gradient(to bottom, #1a1a1a80, #3c3d44);
    }

    /* MODAL */

    .modal_wrapper {
        position: fixed;
        padding: 5px;
        padding-top: 20px;
    }

    .modal_popup {
        max-height: 95vh;
        overflow-y: auto;
    }

    .add_goods_wrapper {
        align-items: flex-end;
    }

    .add_goods__cancel_btn {
        height: 38px;
    }

    #confirm_delete {
        align-items: flex-end;
    }

    .list_options_wrapper, .manage_lists_wrapper {
        align-items: center;
    }

    .list_options_popup {
        width: 95%;
    }

    .add_goods_popup_header_left {
        font-size: 13px;
    }

    #new_goods_textarea,
    .add_goods_button, 
    .add_goods__cancel_btn,
    .good_element__name_input,
    .manage_lists__item__name input {
        font-size: 18px;
    }

}

@media (max-width: 450px) {
    .header_logo h1 {
        font-size: 24px;
    }
}

@media (max-width: 380px) {
    .header_logo h1 {
        font-size: 18px;
    }
}

@media (max-width: 300px) {
    .header_logo h1 {
        display: none;
    }
}