@media (max-width: 500px) {
    html {
        font-size: 18px;
    }
    

    .shopping_list_container {
        margin-top: 0px;
        padding: 20px 5px;
        height: 100%;
        border-radius: 0px;
        position: relative;
    }

    .header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 400;
        padding: 10px 15px;

        background-color: #57626e;
    }
    body.dark .header {
        background-color: #313b46;
    }

    .options_list.header_options_menu {
        top: 12px;
        right: 10px;
        z-index: 500;
    }

    .main {
        padding: 15px 5px;
        height: 90vh;
    }

    .header_logo h1 {
        font-size: 28px;
    }

    .categories {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .add_new_items {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;

        background-color: #fff;
    }

    /* MODAL */

    .modal_wrapper {
        position: fixed;
        padding: 5px;
        padding-top: 20px;
    }

    .modal_popup {
        max-height: 95vh;
        overflow-y: auto;
    }

    .add_goods_wrapper {
        align-items: flex-end;
    }

    #confirm_delete {
        align-items: flex-end;
    }

    .list_options_wrapper, .manage_lists_wrapper {
        align-items: center;
    }

    .list_options_popup {
        width: 95%;
    }

    .add_goods_popup_header_left {
        font-size: 13px;
    }

    .add_goods_input, .add_goods_button, .add_goods__cancel_btn {
        font-size: 18px;
    }

}

@media (max-width: 450px) {
    .header_logo h1 {
        font-size: 24px;
    }
}

@media (max-width: 380px) {
    .header_logo h1 {
        font-size: 18px;
    }
}

@media (max-width: 300px) {
    .header_logo h1 {
        display: none;
    }
}